* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.instrucciones {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #222222;
  color: white;
  border-radius: 10px;
}

.grid-principal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  background-color: #222222;
  min-height: 100vh;
  width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: 29% 29% 20% 22%;
  /* grid-gap: 20px;  */
  background-color: #cacaca;
  width: 100vw;
  padding: 20px;
  padding-top: 0px;
  height: 90vh;
  background-color: #222222;
  color: white;
  align-items: center;
}

.contenedor {
  display:grid;
  grid-template-rows: 70% 30%;
  border: 3px solid 2222;
  height: 80vh;
}

.procesador {
  margin: 10px;
  display: grid;
  grid-template-columns:65% 30%; /* 2 columnas de igual tamaño */
  grid-template-rows: 100%;
  gap: 5px; /* Espaciado entre celdas */
  border: 3px solid rgb(137, 195, 237);
  border-radius: 10px;
  padding-bottom: 10px;
  height:max-content;
}

.pc, .mar, .uc, .mbr, .ir, .alu {
  width: 100%;
  height: 50px;
  border: 3px solid #8e44ad;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.alu {
  position: relative;
  width: 120px;
  height: 80px;
  background-color: #8e44ad;
  clip-path: polygon(0% 0%, 25% 0%, 50% 40%, 75% 0%, 100% 0%, 50% 100%);
  text-align: center;
  line-height: 60px;
  color: white;
  font-weight: bold;
  justify-self: center;
  margin-top: 10%;
}

.izquierda{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}


.banco-registros {
  width: 90%;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  margin: 10px; 
  border: 1px solid #8e44ad;
  border-radius: 10px;
  background-color: #222222;
}

.registro {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #8e44ad;
  background-color: #222222;
  font-family: monospace;
}

.derecha {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 5px;
  height: auto;
  padding: 10px 0px 10px 0px;
}

.bus-sistema {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 78vh;
}

.direcciones, .control, .datos {
  width: 50%;
  height: 100%;
  border: 3px solid pink;
 
  border-radius: 10px;
}

.memoria-general{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 3px solid rgb(0, 88, 252);
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.memoria {
  border: 3px solid blue;
  padding: 15px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Cambiar a orientación por filas */
  gap: 5px; /* Espaciado entre filas */
  background-color: #222222;
  width: 95%;
  text-align: center;
}

.memoriagrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px; /* Espaciado entre celdas */
  justify-content: center; /* Centrar horizontalmente las celdas */
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #00ffaa;
}

.memoria-fila {
  display: flex; /* Cada fila es un contenedor flexible */
  gap: 5px; /* Espaciado entre celdas de la fila */
  justify-content: center; /* Centrar horizontalmente las celdas */
}

.memoria-celda {
  width: 30px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #222;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: monospace;
  color: white;
}

.io {
  height: 150px;
  padding: 10px;
  border: 3px solid skyblue;
  margin: 10px;
  border-radius: 10px;
}

.set {
  border: 1px solid #8e44ad;
  background-color: #222222;

}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.instruction {
  padding: 10px;
  border: 1px solid #8e44ad;
  background-color: #fff;
  text-align: center;
  cursor: grab;
}

.boton {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
}

.boton:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 98);
  color: #fff;
  border: 3px solid rgb(0, 0, 0);
  transition: .3s ease-in-out;
}

.add {
  background-color: #8e44ad;
  color: white;
}

.move {
  background-color: #3498db;
  color: white;
}

.sub {
  background-color: #e74c3c;
  color: white;
}

.jmp {
  background-color: #f39c12;
  color: white;
}

.load {
  background-color: #2ecc71;
  color: white;
}

.neg {
  background-color: #5522b6;
  color: white;
}

.dec {
  background-color: #0ff1b8;
  color: black;
}

.cmp {
  background-color: #f10f93;
  color: black;
}